<div class="card">
    <div class="card-body" style="background-color: coral">
        <h4>Operation Failed.</h4>
        <p>Data saved failed.</p>
    </div>
</div>

<a href="@Url.Action("Index", "Players")"><i class="fa fa-long-arrow-left"></i> Back to list</a>
@section styles
{
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}


