<div class="card" >
    <div class="card-text" style="background-color: chartreuse">
        <h4>Operation Successfull</h4>
        <p>Data saved succefully.</p>
    </div>
</div>

<a href="@Url.Action("Index", "Players")"><i class="fa fa-long-arrow-left"></i> Back to list</a>
@section styles
{
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}


