<mat-card class="top-card mat-elevation-z8">
  <mat-card-header color="accent">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Student Course Management System (SCMS)</mat-card-title>
    <mat-card-subtitle style="font-family:'Monotype Corsiva'">SCMS-Offers is the best</mat-card-subtitle>

  </mat-card-header>
  <!--<img mat-card-image src="../../../assets/bigstock-Plumbing-tools-and-materials-25315121-300x200.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content style="padding-left:25px;padding-right:25px">
    <mat-divider></mat-divider>

    <div style="padding-top:25px">
      <h3>Angular SPA application with MVC Core 2.2</h3>
      <p>
        This Project is created for monthly evidence assessment.
      </p>
      Highlight of the technology behid



      <!-- three line list -->
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon>arrow_right_alt</mat-icon>
          <h3 matLine> ASP.NET MVC Core </h3>
          <p matLine>Version 2.2 </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>arrow_right_alt</mat-icon>
          <h3 matLine> Angular </h3>
          <p matLine>Version 10 </p>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>arrow_right_alt</mat-icon>
          <h3 matLine> Angular Material UI</h3>
          <p matLine>Version 10.2.7 </p>

        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>arrow_right_alt</mat-icon>
          <h3 matLine> SQL Server (localdb)</h3>
          <p matLine>Version 13.0.4.* (SQL SERVER 2016) </p>

        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/students']">STRAT FROM HERE</a>

  </mat-card-actions>
</mat-card>
