@model IEnumerable<Service>
@{
    ViewData["Title"] = "Index";
}

<h1>Services List</h1>
<table class="table-of-contents">
    <thead>
        <tr>
            @*<th><label asp-for="ServiceId"></label></th>
            <th><label asp-for="ServiceName"></label></th>
            <th><label asp-for="Contactual"></label></th>
            <th></th>*@
        </tr>
    </thead>
</table>
