.field {
    padding: 15px 30px;
    display:flex;
    align-items:center;
}
.label{
    display:inline-block;
    width:150px;
    font-weight:500;
}
.control {
    display: inline-block;
    width: auto;
    min-width: 400px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ededed;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.error {
            padding: 10px;
            margin: 4px;
            color: red;
            border-top: solid 1px red;
            border-bottom: solid 1px red;
}

